<html>
<head>
<title>GET DATA</title>
<body>

<h1>our form example</h1>

<form action="/getdetailsvalue" method = "POST">
    <label for="key"> KEY </label>
    <input type = "text" name = "keyer" id = "key" placeholder = " Enter Key">

    <input type = "Submit">
<form>
    
</body>
</html>